@font-face {
    font-family: "GothamPro";
    font-style: normal;
    src: url(../fonts/GothamPro.woff2),
    url(../fonts/GothamPro.woff);
}

@font-face {
    font-family: "GothamPro";
    font-weight: bold;
    src: url(../fonts/gothamprobold.woff2),
    url(../fonts/gothamprobold.woff);
}