.gallery {
  background-color: $card-color;
}

.gallery__inner {
  @include padding-mobile;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../images/galery-back.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.gallery__title {
  @include reset-style;
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.gallery__list {
  @include reset-style;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 0 auto;
}

.gallery__item {
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .gallery {
    background-image: url(../images/gallery-back-big.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .gallery__inner {
    @include padding-tablet;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: none;
  }

  .gallery__list {
    max-width: 620px;
  }

  .gallery__item {
    display: flex;
    align-items: center;
    &--neon {
      order: -1;
    }
    &--coffee {
      order: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery__inner {
    padding: 0;
    padding-top: 68px;
    padding-bottom: 161px;
    background-image: none;
  }

  .gallery__title {
    margin-bottom: 83px;
    font-size: 48px;
    line-height: 46px;
  }

  .gallery__list {
    max-width: 946px;
  }

  .gallery__item {
    margin-bottom: 0;
    &--cookie,
    &--hall,
    &--shelf,
    &--arms {
      img {
        width: 214px;
        height: 145px;
      }
    }
    &--coffee,
    &--neon {
      img {
        width: 458px;
        height: 273px;
      }
    }
  }
  .gallery__item {
    &--cookie,
    &--hall {
      align-self: start;
    }
    &--shelf,
    &--arms {
      align-self: flex-end;
    }
    &--coffee {
      margin-top: -90px;
    }
  }
  .gallery__img {
      &:hover {
          transform: scale(1.2);
          transition: 0.3s;
      }
  }
}
