.menu {
  background-image: url(../images/menu-back@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 0;
}

.menu__inner {
  min-height: 570px;
}

.menu__title {
  margin-top: 50px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #071425;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.menu-slider {
  @include reset-style;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  margin: 20px 0;
  padding-top: 16px;
  padding-bottom: 28px;
  width: 184px;
  text-align: center;
  border: 2px solid $main-blue;
  border-radius: 20px;
  background-color: $card-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slick-slide {
  width: 184px;
  margin: 0 20px;
}

.slick-center {
  transform: scale(1.08);
}

.slick-list {
  min-height: 365px;
}

.menu-item__image {
  margin: 0 auto;
  &--classic {
    margin-left: 47px;
  }
}

.menu-item__title {
  position: relative;
  @include reset-style;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: -0.05em;
  color: #ffffff;
  white-space: pre-line;
  &:before,
  &:after {
    top: 50%;
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: $main-blue;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.menu-item__price {
  @include reset-style;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.menu-item__ruble-white {
  fill: #ffffff;
}

.menu-item__ruble {
  display: none;
}

.menu-item__button {
  margin-bottom: 20px;
}

.menu-item__label {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 20px;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #85b1be;
  border-radius: 20px;
  color: $main-blue;
  background-color: transparent;
  cursor: pointer;

  .menu-item__switch {
    &:before {
      transition: 0.2s ease-in-out;
      position: absolute;
      content: attr(data-checked);
      top: -1px;
      left: -1px;
      width: 37px;
      height: 18px;
      color: #ffffff;
      background-color: $main-blue;
      border-radius: 20px;
      box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.25);
    }
    &:after {
      transition: 0.2s ease-in-out;
      position: absolute;
      content: attr(data-unchecked);
      right: 0;
      width: 37px;
      height: 18px;
    }
  }
}

.menu-item__input {
  &:checked ~ .menu-item__label .menu-item__switch {
    &:after {
      top: -1px;
      color: #ffffff;
      background-color: $main-blue;
      border-radius: 20px;
      box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.25);
    }
    &:before {
      color: $main-blue;
      background-color: transparent;
    }
  }
}

.menu-item__text {
  @include reset-style;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  white-space: pre-line;
}

.menu-dots {
  position: absolute;
  display: flex;
  margin-left: -51px;
  padding: 0;
  top: 110%;
  left: 50%;
  list-style: none;
  button {
    border: none;
    background-color: #c4c4c4;
    font-size: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin: auto 6px;
    display: block;
  }
  .slick-active button {
    margin-top: -1px;
    width: 10px;
    height: 10px;
    background-color: $main-blue;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    background-image: url(../images/menu-back-big.png);
    background-position: 0 center;
  }

  .menu__inner {
    min-height: 615px;
  }

  .menu-item {
    margin: 30px 0;
    padding-top: 23px;
    padding-bottom: 28px;
    width: 220px;
    text-align: center;
    border: 2px solid $main-blue;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .slick-slide {
    width: 220px;
    margin: 0 50px;
  }

  .slick-center {
    transform: scale(1.12);
    .menu-item {
      background-color: $card-color;
    }
    .menu-item__title,
    .menu-item__text {
      color: #ffffff;
    }
    .menu-item__price {
      -webkit-text-stroke: 0px;
    }
    .menu-item__ruble {
      display: none;
    }
    .menu-item__ruble-white {
      display: block;
    }
  }

  .menu-item__image--classic {
    margin-left: 64px;
  }

  .menu-item__title {
    line-height: 19px;
    color: $card-color;
  }

  .menu-item__price {
    display: flex;
    justify-content: center;
    font-size: 32px;
    line-height: 31px;
    -webkit-text-stroke: 2px $card-color;
  }

  .menu-item__ruble-white,
  .menu-item__ruble {
    margin-top: 3px;
    width: 21px;
    height: 21px;
  }

  .menu-item__ruble-white {
    display: none;
  }

  .menu-item__ruble {
    display: block;
  }

  .menu-item__text {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .menu__inner {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .menu__title {
    font-size: 48px;
    line-height: 46px;
    margin-top: 92px;
    margin-bottom: 30px;
  }

  .menu-slider {
    max-width: 964px;
    margin: 0 auto;
  }

  .slick-list {
    min-height: 475px;
  }

  .slick-center {
    transform: none;
  }

  .menu-item {
    width: 264px;
  }

  .slick-slide {
    width: 264px;
    margin: 0 35px;
  }

  .menu-item__image {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    &--classic {
      width: 155px;
      height: 160px;
      margin-bottom: 0;
    }
  }

  .menu-item__title {
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 22px;
  }

  .menu-item__price {
    font-size: 48px;
    line-height: 46px;
  }

  .menu-item__ruble-white,
  .menu-item__ruble {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }

  .menu-item__label {
    width: 106px;
    height: 28px;
    font-size: 16px;
    line-height: 29px;
    .menu-item__switch {
      &:before {
        top: -2px;
        left: -2px;
        width: 58px;
        height: 28px;
      }
      &:after {
        top: -2px;
        right: -1px;
        width: 58px;
        height: 28px;
      }
    }
  }

  .menu-item__input {
    &:checked ~ .menu-item__label .menu-item__switch {
      &:after {
        top: -2px;
      }
    }
  }

  .menu-dots {
    display: none;
  }

  .slick-prev,
  .slick-next {
    display: block;
    font-size: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    &:before {
      position: absolute;
      content: "";
      top: 42%;
      width: 25px;
      height: 42px;
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  .slick-prev:before {
    background-image: url(../images/prev.svg);
    left: -76px;
  }

  .slick-next:before {
    background-image: url(../images/next.svg);
    right: -76px;
  }
}
