.reviews {
  margin-bottom: 70px;
}

.reviews__inner {
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url(../images/reviews-back.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.reviews__title {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.05em;
  color: $card-color;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.reviews__slider {
  @include reset-style;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .slick-list {
    min-height: 415px;
  }
  .slick-slide {
    width: 166px;
  }
  .slick-center {
    transform: scale(1.1);
    transition: 0.6s;
    .reviews-item__img {
      border: 16px solid $main-yellow;
      box-shadow: 0px 3px 20px rgba(243, 182, 3, 0.6);
    }
  }
  .menu-dots {
    margin-bottom: 50px;
  }
}

.reviews-item {
  padding-top: 30px;
  padding-bottom: 30px;
  blockquote {
    @include reset-style;
  }
}

.reviews-item__img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 18px;
  border-radius: 50%;
  border: 16px solid $card-color;
}

.reviews-item__rating {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 164px;
  height: 24px;
}

.reviews-item__star {
  display: block;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  fill: $main-yellow;
  &--grey {
    fill: #bfbfbf;
  }
}

.reviews-item__text {
  @include reset-style;
  margin-bottom: 14px;
  white-space: pre-line;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.05em;
}

.reviews-item__author {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.05em;
}

@media (min-width: $tablet-width) {
  .reviews__inner {
    background-image: url(../images/reviews-back-big.png);
  }
  .reviews__slider .slick-slide {
    width: 300px;
  }
  .reviews-item__text {
    white-space: unset;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    background-image: url(../images/reviews-back-big.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .reviews__inner {
    max-width: 1130px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 105px;
    background-image: none;
  }

  .reviews__title {
    font-size: 48px;
    line-height: 46px;
    margin-bottom: 46px;
  }

  .reviews__slider {
    max-width: 1140px;
    margin: 0 auto;
    .slick-slide {
      width: 360px;
      margin: 0 14px;
    }
    .slick-next:before {
      right: -10px;
      top: 20%;
    }
    .slick-prev:before {
      left: -10px;
      top: 20%;
    }
    .slick-center {
      transform: scale(1);
      .reviews-item__img {
        border: 24px solid $main-yellow;
      }
    }
  }

  .reviews-item__img {
    margin-bottom: 45px;
    width: 200px;
    height: 200px;
    border: 24px solid $card-color;
  }

  .reviews-item__rating {
    margin-bottom: 25px;
  }

  .reviews-item__text {
    font-size: 14px;
    line-height: 24px;
  }
}
